<app-meats id="background"></app-meats>
<div id="chicken_segment">
    <div id="chicken_text">Chicken</div>

    <!--Items-->
    <div id="item">
        <img src="../../../../../../assets/meats/chicken/whole.jpg" id="image">
        <div id="item_text">Whole</div>
        <div id="counter">Counter:<input type="text" id="cnt_input" value="3" pattern="\d{2}:\d{2}" required contenteditable>kg</div>
        <div id="minimum_value">Minimum value:<input type="text" id="cnt_input" value="2" pattern="\d{2}:\d{2}" required contenteditable ></div>
        <div id="add">
            <div id="add_text">Add</div>
        </div>
        <fa-icon [icon]="faHeart" id="heart"></fa-icon>

    </div>
    <div id="item">
        <img src="../../../../../../assets/meats/chicken/breast.jpg" id="image">
        <div id="item_text">Breasts</div>
        <div id="counter">Counter:<a style="font-weight: 600 ;">3</a></div>
        <div id="minimum_value">Minimum value:<a style="font-weight: 600 ;">2</a></div>
        <div id="add">
            <div id="add_text">Add</div>
        </div>
        <fa-icon [icon]="faHeart" id="heart"></fa-icon>

    </div>
    <div id="item">
        <img src="../../../../../../assets/meats/chicken/drums.jpg" id="image">
        <div id="item_text">Drums</div>
        <div id="counter">Counter:<a style="font-weight: 600 ;">3</a></div>
        <div id="minimum_value">Minimum value:<a style="font-weight: 600 ;">2</a></div>
        <div id="add">
            <div id="add_text">Add</div>
        </div>
        <fa-icon [icon]="faHeart" id="heart"></fa-icon>

    </div>
    <div id="item">
        <img src="../../../../../../assets/meats/chicken/thigs.jpg" id="image">
        <div id="item_text">Thighs</div>
        <div id="counter">Counter:<a style="font-weight: 600 ;">3</a></div>
        <div id="minimum_value">Minimum value:<a style="font-weight: 600 ;">2</a></div>
        <div id="add">
            <div id="add_text">Add</div>
        </div>
        <fa-icon [icon]="faHeart" id="heart"></fa-icon>

    </div>
    <div id="item">
        <img src="../../../../../../assets/meats/chicken/legs.png" id="image">
        <div id="item_text">Legs</div>
        <div id="counter">Counter:<a style="font-weight: 600 ;">3</a></div>
        <div id="minimum_value">Minimum value:<a style="font-weight: 600 ;">2</a></div>
        <div id="add">
            <div id="add_text">Add</div>
        </div>
        <fa-icon [icon]="faHeart" id="heart"></fa-icon>

    </div>
    <div id="item">
        <img src="../../../../../../assets/meats/chicken/wings.jpg" id="image">
        <div id="item_text">Wings</div>
        <div id="counter">Counter:<a style="font-weight: 600 ;">3</a></div>
        <div id="minimum_value">Minimum value:<a style="font-weight: 600 ;">2</a></div>
        <div id="add">
            <div id="add_text">Add</div>
        </div>
        <fa-icon [icon]="faHeart" id="heart"></fa-icon>

    </div>
</div>
