<div id="list_frame">
    <div id="title">My List</div>
    <div id="total_items">{{items}} Item(s) Total</div>

    <!--Here goes the items-->
    <div id="listing">
        <div id="item" *ngFor="let product of products; index as i;">
            <!--Left Side-->
            <div id="item_title">{{ product.name }}</div>
            <div id="item_status">{{getStatus(i,true)}}</div>

            <!--Right Side-->
            <div id="square" (click)="status(i)"></div>
            <fa-icon [icon]="faP" id="store" *ngIf="buy[i]" (click)="status(i)"></fa-icon>
            <fa-icon [icon]="faCheck" id="check" *ngIf="checked[i]"></fa-icon>
            <fa-icon [icon]="faChevronDown" id="down" (click)="toggle(i)" *ngIf="!down[i]"></fa-icon>
            <fa-icon [icon]="faChevronUp" id="down" (click)="toggle(i)" *ngIf="up[i];"></fa-icon>
            <div id="date">{{dates[i]}}</div>
            <hr/>

            <!--Static component of item informations-->
            <div id="informations" *ngIf="infos[i]">
              <div id="irow">
                  <div id="nfirst">Name:</div>
                  <div id="nsecond">{{ product.name }}</div>
              </div>
              <div id="irow">
                  <div id="nfirst">Quantity:</div>
                  <div id="nsecond">{{ product.quantity }}</div>
              </div>
              <div id="irow">
                  <div id="nfirst">Approx.Price:</div>
                  <div id="nsecond">{{ product.price }}</div>
              </div>
              <div id="irow">
                  <div id="nfirst">Bought From:</div>
                  <div id="nsecond">{{ product.store}}</div>
              </div>
              <div id="irow">
                  <div id="nfirst">Status:</div>
                  <div id="nsecond">{{ getStatus(i,false) }}</div>
              </div>
              <fa-icon [icon]="faTrashCan" id="bin" (click)="deleteTask(product)"></fa-icon>
              <fa-icon [icon]="faHeart" id="heart" (click)="like(i)" [ngStyle]="{'color' : color[i] ? '#c71313':'white'}"></fa-icon>
            </div>
        </div>
    </div>

    <!--Filters and add-->
    <div id="filtersAdd">
        <div id="filters">
            <div id="category">
                <div class="category_square" (click)="selected('all')">
                    <fa-icon [icon]="faCircle" class="circle" *ngIf="all"></fa-icon>
                </div>
                <div id="category_text" style="left: 6px;">All</div>
            </div>
            <div id="category" style="left: 65px;">
                <div class="category_square" id="bought" (click)="selected('bought')">
                    <fa-icon [icon]="faCircle" class="circle" *ngIf="bought"></fa-icon>
                </div>
                <div id="category_text" style="left: -6px; font-size: 14px;">Bought</div>
            </div>
            <div id="category" style="left: 130px;">
                <div class="category_square" id="stored" (click)="selected('stored')">
                    <fa-icon [icon]="faCircle" class="circle" *ngIf="stored"></fa-icon>
                </div>
                <div id="category_text" style="left: -5px; font-size: 14px;">Stored</div>
            </div>
            <div id="category" style="left: 195px;">
                <div class="category_square" id="not" (click)="selected('not')">
                    <fa-icon [icon]="faCircle" class="circle" *ngIf="not"></fa-icon>
                </div>
                <div id="category_text" style="left: -12px; top: 39px; font-size: 14px;">Not Bought</div>
            </div>
        </div>
        <div id="add" (click)="addItem()">
            <fa-icon [icon]="faPlus" id="cross"></fa-icon>
        </div>
    </div>
</div>
