#reducer{
  width: 375px;
  height: 812px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(234, 234, 234);
}

#text{
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 35px;
  font-style: italic;
}

#item{
  border-radius: 20px;
  background-color: rgb(253, 200, 200);
  height: 100px;
  position: relative;
  width: 375px;
  left: 0px;
  margin-bottom: 50px;
}

#name{
  position: absolute;
  top:30px;
  left: 10px;
  font-weight: 600;

  color: rgb(0, 0, 0);
  font-size: 25px;
}

#quantityMinus{
  position: absolute;
  left: 250px;
  top:30px;
  margin-left: 10px;

  color: rgb(0, 0, 0);
  font-size: 25px;
}
