<!--Fruits Component-->
<div id="top_div_meats">
  <img src="../../../../assets/fruits.jpg" id="image">
  <div id="inner_text">Choose a type of fruit</div>
</div>

<div id="products">
  <div id="line">
      <div id="corner_right">
          <img src="../../../../assets/fridgePanel/fruits/apples.png" id="right_image">
          <div id="text_image" style=" top: 30%;">Apple & Pears</div>
      </div>
      <div id="center">
          <img src="../../../../assets/fridgePanel/fruits/citrus.png" id="center_image">
          <div id="text_image" style="left:28%;">Citrus</div>
      </div>
      <div id="corner_left">
          <img src="../../../../assets/fridgePanel/fruits/stone.png" id="left_image">
          <div id="text_image" style="left:3%">Stone Fruits</div>
      </div>
  </div>
  <div id="line">
      <div id="corner_right">
          <img src="../../../../assets/fridgePanel/fruits/tropical.png" id="right_image" (click)="redirect();">
          <div id="text_image" style="left:20%">Tropical</div>
      </div>
      <div id="center">
          <img src="../../../../assets/fridgePanel/fruits/berries.png" id="center_image">
          <div id="text_image" style="left:25%">Berries</div>
      </div>
      <div id="corner_left">
          <img src="../../../../assets/fridgePanel/fruits/melons.png" id="left_image">
          <div id="text_image" style="left:22%">Melons</div>
      </div>
  </div>
  <div id="line">
      <div id="corner_right">
          <img src="../../../../assets/fridgePanel/fruits/winter.png" id="right_image">
          <div id="text_image" style="left:18%">Seasonal</div>
      </div>
  </div>
</div>
