<!--Inside Home Page-->
<div id="insider">

    <!--Slider-->
    <div id="places_slider">
        <div id="kitchen">
            <fa-icon [icon]="faKitchenSet" id="icon"></fa-icon>
        </div>
        <div id="cupboard">
            <fa-icon [icon]="faCalendar" id="icon"  style="margin-left: 30px;"></fa-icon>
        </div>
        <div id="bathroom">
            <fa-icon [icon]="faBath" id="icon"></fa-icon>
        </div>
    </div>

    <!--Search-->
    <div id="search">
        <input type="text" id="search_bar" placeholder="Search"> 
        <fa-icon [icon]="faMagnifyingGlass" id="magnigying_glass"></fa-icon>
        <fa-icon [icon]="faChevronRight" id="right"></fa-icon>
    </div>

    <!--Categories-->
    <div id="categories">
        <div id="up_sharp">
            <div id="category_title">Meats</div>
            <div id="category_sub">9 categories</div>
        </div>
        <div id="down_sharp"></div>
        <div id="up_sharp"></div>
        <div id="down_sharp"></div>
        <div id="up_sharp"></div>
        <div id="down_sharp"></div>
        <div id="up_sharp"></div>
        <div id="down_sharp"></div>
        <div id="up_sharp"></div>
        <div id="down_sharp"></div>
        <div id="up_sharp"></div>
    </div>
    

</div>
